<div class="post">
<h1 class="title"> New account</h1>
<p class="byline" id="notice"> <%= notice %> </p>
<div class="entry">

<br />


<%= render 'form' %>

<p>
<%= link_to 'Back', accounts_path %>
</p>

<br />

</div>
</div>

